<!-- Navigation bar -->
<div class="navbar">
    <div class="header-logo">
        <img src="../../static/style/MEGA-METAL-logotip.jpg" alt="Logo">
    </div>
    <a href="{{ url_for('index') }}">Home</a>
    <div class="potrosnja-materiala">
        Potrošnja materiala &rarr;
        <!-- Inside Dropdown -->
        <div class="dropdown-potrosnja-materiala">
            <a href="{{ url_for('potrosnja_materiala') }}"><div class="ddPotrosnja">Grafi</div></a>
            <a href="{{ url_for('grupiranje_materiala') }}"><div class="ddPotrosnja">Po identu</div></a>
            <a href="{{ url_for('potrosnja_materiala_torta') }}"><div class="ddPotrosnja">Torta</div></a>
        </div>
    </div>
    <a href="{{ url_for('logout') }}">Sign Out</a>
</div>