<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/style/administracija.css">
    <title>Administracija</title>
</head>
<body>
<div id="navigationContainer">
    <h1>Administracija - Menu</h1>

    <div class="wrap">
      <span class="decor"></span>
      <nav>
        <ul class="primary">
          <li>
            <a>Uporabnik</a>
            <ul class="sub">
              <li><a href="{{ url_for('user') }}">Urejanje</a></li>
              <li><a href="{{ url_for('user_roles') }}">Vloge</a></li>
            </ul>
          </li>
          <li>
            <a>Nalogi</a>
            <ul class="sub">
              <li><a href="{{ url_for('aktivni_nalogi', status='1') }}">Aktivni</a></li>
              <li><a href="{{ url_for('aktivni_nalogi', status='0') }}">Neaktivni</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
</div>



</body>
</html>