<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/style/administracija.css">
    <title>Administracija</title>
</head>
<body>
<div id="navigationContainer">
    <h1>Administracija - Menu</h1>

    <div class="wrap">
      <span class="decor"></span>
      <nav>
        <ul class="primary">
            <li>
                {% if 'skripte' in stranice_list %}
                <a href="#" onclick="submitForm(event, '/refresh_fix_plan', this.innerText)">Realizacija</a>
                <ul class="sub">
                    <li><a href="#" onclick="submitForm(event, '/refresh_fix_plan', this.innerText)">Fix Plan</a></li>
                    <li><a href="#" onclick="submitForm(event, '/refresh_fix_plan', this.innerText)">Produktivnost</a></li>
                    <li><a href="#" onclick="submitForm(event, '/refresh_fix_plan', this.innerText)">Recylce</a></li>
                </ul>
                {% endif %}
            </li>
            <li>
                {% if 'skripte' in stranice_list %}
                <a href="#" onclick="submitForm(event, '/refresh_fix_plan', this.innerText)">Proizvodnja</a>
                <ul class="sub">
                    <li><a href="#" onclick="submitForm(event, '/refresh_fix_plan', this.innerText)">Datum Isporuke</a></li>
                </ul>
                {% endif %}
            </li>
            <li>
                {% if 'user' in stranice_list %}
                <a>Uporabnik</a>
                <ul class="sub">
                    <li><a href="{{ url_for('user') }}">Urejanje</a></li>
                    <li><a href="{{ url_for('user_roles') }}">Vloge</a></li>
                </ul>
                {% endif %}
            </li>
            <li>
                {% if 'aktivni_nalogi' in stranice_list or 'neaktivni_nalogi' in stranice_list %}
                <a>Nalogi</a>
                <ul class="sub">
                    <li><a href="{{ url_for('urejanje_faz') }}">Urejanje</a></li>
                    <li><a href="{{ url_for('aktivni_nalogi', status='1') }}">Aktivni</a></li>
                    <li><a href="{{ url_for('aktivni_nalogi', status='0') }}">Neaktivni</a></li>
                </ul>
                {% endif %}
            </li>
        </ul>
      </nav>
    </div>
</div>
<div id="loading" style="display: none;">Loading, please wait...</div>

</body>
<script>
     function submitForm(event, script, buttonText) {
            event.preventDefault();
            const loadingDiv = document.getElementById('loading');
            const text = buttonText.toLowerCase();

            loadingDiv.style.display = 'block';
            loadingDiv.innerText = 'Loading ' + text + ', please wait...';

            fetch(script, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json' // Specify JSON content type
                },
                body: JSON.stringify({ // Include variable in the request body
                    variable: text
                })
            })
            .then(response => response.json())
            .then(data => {
                loadingDiv.innerText = 'Successfully finished!';
                setTimeout(() => {
                    loadingDiv.style.display = 'none';
                }, 1500); // Hide the message after 3 seconds
            })
            .catch(error => {
                loadingDiv.style.display = 'none';
                console.error('Error:', error);
            });
    }

</script>
</html>
