<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compare Data</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .graph-canvas {
            margin-left: 15%; /* Adjust this value based on your menu height */
            margin-right: 5px;
            display: block;
        }
        #form-container {
            margin-left: 15%; /* Adjust this value based on your menu height */
        }

        #refresh-container {
            float: right;
            margin-right: 10%; /* Adjust this value based on your menu height */
        }

        #refresh-button {
            margin-right: 0px;
        }

        #loading {
            display: none;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1000;
            color: white;
            text-align: center;
            padding-top: 20%;
            font-size: 2em;
        }
    </style>
</head>
<body>

    {% include 'navigation.html' %}

    <div id="form-container">
        <form id="weekRangeForm">
            <label for="startWeek">Starting Week:</label>
            <input type="number" id="startWeek" name="startWeek" min="1" max="52">

            <label for="endWeek">Ending Week:</label>
            <input type="number" id="endWeek" name="endWeek" min="1" max="52">

            <button type="submit">Apply</button>
        </form>
    </div>
    <div id="refresh-container">
        <button id="refresh-button" type="submit">Refresh</button>
    </div>

    <canvas id="comparisonChart" class="graph-canvas"></canvas>
    <canvas id="comparisonChart2" class="graph-canvas"></canvas>
    <div id="loading" style="display: none;">Loading, please wait...</div>

<script>
    function loadingScreen(event, script, buttonText) {
        event.preventDefault();
        const loadingDiv = document.getElementById('loading');
        const text = buttonText.toLowerCase();

        loadingDiv.style.display = 'block';
        loadingDiv.innerText = 'Loading ' + text + ', please wait...';

        fetch(script, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json' // Specify JSON content type
            },
            body: JSON.stringify({ // Include variable in the request body
                variable: text
            })
        })
        .then(response => response.json())
        .then(data => {
            loadingDiv.innerText = 'Successfully finished!';
            setTimeout(() => {
                loadingDiv.style.display = 'none';
                location.reload();
            }, 1500); // Hide the message after 1.5 seconds and reload the page
        })
        .catch(error => {
            loadingDiv.style.display = 'none';
            console.error('Error:', error);
        });
    }

    document.getElementById("refresh-button").addEventListener("click", function(event) {
        loadingScreen(event, '/refresh_fix_plan', 'refresh');
    });

    function updateSecondChart(data) {
        comparisonChart2.data.labels = data.labels;
        comparisonChart2.data.datasets[0].data = data.plTezinaValues;
        comparisonChart2.data.datasets[1].data = data.realTezinaValues;
        comparisonChart2.update();
    }

    function filterAndRefreshChart(startWeek, endWeek) {
        var formData = new FormData();
        formData.append('startWeek', startWeek);
        formData.append('endWeek', endWeek);

        fetch('/filter_data', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            comparisonChart.data.labels = data.labels;
            comparisonChart.data.datasets[0].data = data.plIznosValues;
            comparisonChart.data.datasets[1].data = data.realIznosValues;
            comparisonChart.update();

            updateSecondChart(data);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    var plKwValues = {{ pl_kw_values|tojson }};
    var plIznosValues = {{ pl_iznos_values|tojson }};
    var plTezinaValues = {{ pl_tezina_values|tojson }};

    var realKwValues = {{ real_kw_values|tojson }};
    var realIznosValues = {{ real_iznos_values|tojson }};
    var realTezinaValues = {{ real_tezina_values|tojson }};

    var ctx = document.getElementById('comparisonChart').getContext('2d');
    var comparisonChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: plKwValues,
            datasets: [{
                label: 'PLANIRANI IZNOS',
                data: plIznosValues,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            }, {
                label: 'REALIZIRANI IZNOS',
                data: realIznosValues,
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
                tooltip: {
                    titleFont: { // Set the font size for the tooltip header
                        size: 18 // Adjust the font size as needed
                    },
                    bodyFont: { // Set the font size for the tooltip
                        size: 18 // Adjust the font size as needed
                    }
                }
            }
            // Customize chart options as needed
        },
    });

    var ctx2 = document.getElementById('comparisonChart2').getContext('2d');
    var comparisonChart2 = new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: plKwValues,
            datasets: [{
                label: 'PLANIRANA TEZINA',
                data: plTezinaValues,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            }, {
                label: 'REALIZIRANA TEZINA',
                data: realTezinaValues,
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
                tooltip: {
                    titleFont: { // Set the font size for the tooltip header
                        size: 18 // Adjust the font size as needed
                    },
                    bodyFont: { // Set the font size for the tooltip
                        size: 18 // Adjust the font size as needed
                    }
                }
            }
            // Customize chart options as needed
        }
    });

    document.getElementById("weekRangeForm").addEventListener("submit", function(event) {
        event.preventDefault();
        var startWeek = document.getElementById("startWeek").value;
        var endWeek = document.getElementById("endWeek").value;
        filterAndRefreshChart(startWeek, endWeek);
    });

	document.getElementById('comparisonChart').addEventListener('click', function(event) {
		var activePoints = comparisonChart.getElementsAtEventForMode(event, 'nearest', { intersect: true }, false);

		if (activePoints.length > 0) {
			var firstPoint = activePoints[0];
			var label = comparisonChart.data.labels[firstPoint.index];

			// Make AJAX request to Flask route
			var xhr = new XMLHttpRequest();
			xhr.open('GET', '/get_table_data?label=' + label, true);
			xhr.onreadystatechange = function () {
				if (xhr.readyState === XMLHttpRequest.DONE) {
					if (xhr.status === 200) {
						// Parse the received JSON response
						var htmlContent = xhr.responseText;
						displayHTMLTableInNewTab(htmlContent);
						// Open another HTML file in a new tab with URL parameters
					} else {
						// Handle error
						console.error('Error:', xhr.statusText);
					}
				}
			};
			xhr.send();
		}
	});
function displayHTMLTableInNewTab(htmlContent) {
    // Open a new tab with the HTML content
    var newTab = window.open();

    // Modify the HTML content to make it prettier and remove the first column
    var modifiedHtmlContent = htmlContent.replace('<table border="1">', '<table style="border-collapse: collapse; width: 100%;">')
                                         .replace(/<th>0<\/th>/g, '') // Remove the first column header
                                         .replace(/<td>0<\/td>/g, ''); // Remove the first column values

    newTab.document.write(modifiedHtmlContent);
    newTab.document.close();
}

    // Function to get week number from a date
    function getWeekNumber(date) {
        var startDate = new Date(date.getFullYear(), 0, 1);
        var days = Math.floor((date - startDate) / (24 * 60 * 60 * 1000));
        return Math.ceil((days + startDate.getDay() + 1) / 7);
    }

    // Set initial values and call filterAndRefreshChart on page load
    window.onload = function() {
        var currentDate = new Date();
        var startOfMonth = new Date(currentDate.getFullYear(), currentDate.getMonth(), 1);
        var endOfMonth = new Date(currentDate.getFullYear(), currentDate.getMonth() + 1, 0);
        var startWeek = getWeekNumber(startOfMonth);
        var endWeek = getWeekNumber(endOfMonth);

        document.getElementById("startWeek").value = startWeek;
        document.getElementById("endWeek").value = endWeek;
        filterAndRefreshChart(startWeek, endWeek);
    };
</script>

</body>
</html>