<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compare Data</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .graph-canvas {
            margin-left: 15%; /* Adjust this value based on your menu height */
            margin-right: 5px;
            display: block;
        }
        #refresh-container {
            float: right;
            margin-right: 10%; /* Adjust this value based on your menu height */
        }

        #refresh-button {
            margin-right: 0px;
        }
        #loading {
            display: none;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1000;
            color: white;
            text-align: center;
            padding-top: 20%;
            font-size: 2em;
        }
    </style>
</head>
<body>

{% include 'navigation.html' %}
<div id="refresh-container">
        <button id="refresh-button" type="submit">Refresh</button>
    </div>

<canvas id="comparisonChart" class="graph-canvas"></canvas>
<canvas id="comparisonChart2" class="graph-canvas"></canvas>
<div id="loading" style="display: none;">Loading, please wait...</div>

<script>
    function loadingScreen(event, script, buttonText) {
        event.preventDefault();
        const loadingDiv = document.getElementById('loading');
        const text = buttonText.toLowerCase();

        loadingDiv.style.display = 'block';
        loadingDiv.innerText = 'Loading ' + text + ', please wait...';

        fetch(script, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json' // Specify JSON content type
            },
            body: JSON.stringify({ // Include variable in the request body
                variable: text
            })
        })
        .then(response => response.json())
        .then(data => {
            loadingDiv.innerText = 'Successfully finished!';
            setTimeout(() => {
                loadingDiv.style.display = 'none';
                location.reload();
            }, 1500); // Hide the message after 1.5 seconds and reload the page
        })
        .catch(error => {
            loadingDiv.style.display = 'none';
            console.error('Error:', error);
        });
    }

    document.getElementById("refresh-button").addEventListener("click", function(event) {
        loadingScreen(event, '/refresh_fix_plan', 'refresh');
    });

    function updateSecondChart(data) {
        comparisonChart2.data.labels = data.labels;
        comparisonChart2.data.datasets[0].data = data.plTezinaValues;
        comparisonChart2.data.datasets[1].data = data.realTezinaValues;
        comparisonChart2.update();
    }

    function filterAndRefreshChart(startWeek, endWeek) {
        var formData = new FormData();
        formData.append('startWeek', startWeek);
        formData.append('endWeek', endWeek);

        fetch('/filter_data_mj', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            comparisonChart.data.labels = data.labels;
            comparisonChart.data.datasets[0].data = data.plIznosValues;
            comparisonChart.data.datasets[1].data = data.realIznosValues;
            comparisonChart.update();

            updateSecondChart(data);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    var plKwValues = {{ pl_kw_values|tojson }};
    var plIznosValues = {{ pl_iznos_values|tojson }};
    var plTezinaValues = {{ pl_tezina_values|tojson }};

    var realKwValues = {{ real_kw_values|tojson }};
    var realIznosValues = {{ real_iznos_values|tojson }};
    var realTezinaValues = {{ real_tezina_values|tojson }};

    var ctx = document.getElementById('comparisonChart').getContext('2d');
    var comparisonChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: plKwValues,
            datasets: [{
                label: 'PLANIRANI IZNOS',
                data: plIznosValues,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            }, {
                label: 'REALIZIRANI IZNOS',
                data: realIznosValues,
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            // Customize chart options as needed
        }
    });

    var ctx2 = document.getElementById('comparisonChart2').getContext('2d');
    var comparisonChart2 = new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: plKwValues,
            datasets: [{
                label: 'PLANIRANA TEZINA',
                data: plTezinaValues,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            }, {
                label: 'REALIZIRANA TEZINA',
                data: realTezinaValues,
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            // Customize chart options as needed
        }
    });

    document.getElementById("weekRangeForm").addEventListener("submit", function(event) {
        event.preventDefault();
        var startWeek = document.getElementById("startWeek").value;
        var endWeek = document.getElementById("endWeek").value;
        filterAndRefreshChart(startWeek, endWeek);
    });

</script>

</body>
</html>
