<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dates Data</title>
    <style>
        #table-container {
            max-height: 600px;
            overflow-y: auto;
            margin-left: 14%;
            width: 86%;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin: auto;
        }

        thead {
            font-size: 15px;
            table-layout: fixed;
            background-color: #b6b6b6;
            position: sticky;
            top: 0;
            z-index: 1;
        }

        th,
        td {
            padding: 10px;
            border: 0.5px solid #ddd;
            text-align: center;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: rgb(220, 220, 220);
        }

        h1,
        h2 {
            text-align: center;
            margin-top: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="date"] {
            width: 7vw;
            padding: 5px;
            box-sizing: border-box;
        }

        .edit-column {
            background-color: #b6b6b6;
            position: sticky;
            right: 0;
            z-index: 0;
        }

        #edit {
            font-size: 15px;
            table-layout: fixed;
            background-color: #b6b6b6;
            position: sticky;
            top: 0;
            z-index: 1;
        }

        .hidePlans {
            margin-left: 14%;
            margin-top: 10px;
            padding: 5px;
            background-color: lightblue;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <div>
        <h2>Plani</h2>
        <nav id="navigacijaPlaniranja">
            <button id="hideCompletedButton" class="hidePlans" onclick="toggleCompletedPlans()">Hide completed plans</button>
        </nav>
        <div id="table-container"></div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            fetch('/planiranjePripravnegaDelaLoad')
                .then(response => response.json())
                .then(data => renderTable(data))
                .catch(error => console.error('Error:', error));
        });

        function renderTable(data) {
            const { column_groups, data: values, role } = data;
            const tableContainer = document.getElementById('table-container');
            const table = document.createElement('table');
            table.id = 'myTable';

            const thead = createTableHeader(column_groups, role);
            const tbody = createTableBody(values, role);

            table.appendChild(thead);
            table.appendChild(tbody);
            tableContainer.appendChild(table);

            lazyLoadRows(tbody, values, role);
        }

        function createTableHeader(columnGroups, role) {
            const thead = document.createElement('thead');
            const titleRow = document.createElement('tr');
            const headerRow = document.createElement('tr');

            const widthTheadValues = [15, 7, 8, 6, 10, 3, 6, 3, 7];
            let colIndex = 0;

            columnGroups.forEach(group => {
                const th = document.createElement('th');
                th.colSpan = group.columns.length;
                th.textContent = group.prefix;
                th.id = group.prefix;
                titleRow.appendChild(th);

                group.columns.forEach(columnName => {
                    const subTh = document.createElement('th');
                    subTh.id = columnName;

                    const input = document.createElement('input');
                    input.type = 'text';
                    input.id = `filter_${columnName}`;
                    input.placeholder = columnName;
                    input.style.width = colIndex < 9 ? `${widthTheadValues[colIndex]}vw` : `${(colIndex - 10) % 4 === 1 || (colIndex - 10) % 4 === 2 ? 4 : 5}vw`;
                    input.dataset.columnName = columnName;
                    colIndex++;

                    const br = document.createElement('br');
                    const headerRowSortBtn = document.createElement('button');
                    headerRowSortBtn.textContent = 'Sort';
                    headerRowSortBtn.style.backgroundColor = 'lightblue';
                    headerRowSortBtn.style.borderRadius = '5px';
                    headerRowSortBtn.addEventListener('click', () => {
                        const columnIndices = getColumnIndicesFromInput(input);
                        columnIndices.forEach(index => {
                            if (index !== -1) {
                                sortTable(index, getColumnType(index));
                            }
                        });
                    });

                    subTh.appendChild(input);
                    subTh.appendChild(br);
                    subTh.appendChild(headerRowSortBtn);
                    headerRow.appendChild(subTh);
                });
            });

            if (role === 'Uprava') {
                const editHeaderCell = document.createElement('th');
                editHeaderCell.id = 'edit';
                editHeaderCell.textContent = "Edit";
                headerRow.appendChild(editHeaderCell);
            }

            thead.appendChild(titleRow);
            thead.appendChild(headerRow);
            return thead;
        }

        function createTableBody(values, role) {
            const tbody = document.createElement('tbody');
            const widthTbodyValues = [15, 7, 8, 6, 10, 2, 6, 3, 7];

            // Only render the initial batch of rows for lazy loading
            const initialBatchSize = 100;
            for (let i = 0; i < Math.min(values.length, initialBatchSize); i++) {
                const row = createTableRow(values[i], role, widthTbodyValues);
                tbody.appendChild(row);
            }

            return tbody;
        }

        function createTableRow(rowData, role, widthTbodyValues) {
            const row = document.createElement('tr');

            rowData.forEach((cellData, colIndex) => {
                const cell = document.createElement('td');
                const input = createInputCell(cellData, colIndex, widthTbodyValues);
                cell.appendChild(input);
                row.appendChild(cell);
            });

            if (role === 'Uprava') {
                const editCell = createEditCell(row);
                row.appendChild(editCell);
            }

            return row;
        }

        function createInputCell(cellData, colIndex, widthTbodyValues) {
            const input = document.createElement('input');
            input.disabled = true;

            if (typeof cellData === 'string' && /^\d{2}\.\d{2}\.\d{4}$/.test(cellData)) {
                input.type = 'date';
                const [day, month, year] = cellData.split(".");
                input.value = `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`;
                input.style.width = '6vw';
            } else if (['I', 'J', 'K'].includes(cellData)) {
                const select = document.createElement('select');
                select.style.width = '4vw';

                const options = [
                    { value: 'I', label: 'I' },
                    { value: 'J', label: 'J' },
                    { value: 'K', label: 'K' }
                ];

                options.forEach(optionData => {
                    const option = document.createElement('option');
                    option.value = optionData.value;
                    option.textContent = optionData.label;
                    select.appendChild(option);
                });

                select.value = cellData;
                select.disabled = true;

                return select;
            } else {
                input.type = 'text';
                input.value = cellData;
                input.style.width = colIndex < 9 ? `${widthTbodyValues[colIndex]}vw` : '2vw';
            }

            return input;
        }


        function createEditCell(row) {
            const editCell = document.createElement('td');
            const editButton = document.createElement('button');
            editButton.textContent = 'Edit';
            editButton.addEventListener('click', function () {
                const isEditing = editButton.textContent === 'Submit';
                toggleEditState(row, editButton, !isEditing);

                if (!isEditing) {
                    const updatedRowData = Array.from(row.querySelectorAll('input, select')).map(input => input.type === 'date' ? input.value.split('-').reverse().join('.') : input.value);
                    const updatedData = { index: row.rowIndex, rowData: updatedRowData };

                    fetch('/planiranjePripravnegaDelaSubmit', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify(updatedData)
                    })
                        .then(response => response.ok ? toggleEditState(row, editButton, false) : console.error('Error:', response))
                        .catch(error => console.error('Error:', error));
                }
            });

            editCell.appendChild(editButton);
            return editCell;
        }

        function toggleEditState(row, button, isEditing) {
            Array.from(row.querySelectorAll('input[type="text"], input[type="date"], select')).forEach(input => {
                input.disabled = !isEditing;
            });
            button.textContent = isEditing ? 'Submit' : 'Edit';
        }

        function getColumnIndicesFromInput(input) {
            const columnNames = Array.from(document.querySelectorAll('thead input')).map(input => input.dataset.columnName);
            return columnNames.reduce((indices, columnName, index) => {
                if (columnName === input.dataset.columnName) {
                    indices.push(index);
                }
                return indices;
            }, []);
        }

        function getColumnType(columnIndex) {
            const input = document.querySelectorAll('thead input')[columnIndex];
            return input.type === 'date' ? 'date' : 'text';
        }

        function sortTable(columnIndex, columnType) {
            const table = document.getElementById('myTable');
            const tbody = table.querySelector('tbody');
            const rows = Array.from(tbody.rows);

            rows.sort((a, b) => {
                const cellA = a.cells[columnIndex].querySelector('input, select');
                const cellB = b.cells[columnIndex].querySelector('input, select');
                const valueA = cellA.type === 'date' ? cellA.valueAsDate : cellA.value;
                const valueB = cellB.type === 'date' ? cellB.valueAsDate : cellB.value;

                return columnType === 'date' ? valueA - valueB : valueA.localeCompare(valueB);
            });

            rows.forEach(row => tbody.appendChild(row));
        }

        function toggleCompletedPlans() {
            const hideButton = document.getElementById('hideCompletedButton');
            const table = document.getElementById('myTable');
            const rows = table.querySelectorAll('tbody tr');

            const hide = hideButton.textContent === 'Hide completed plans';
            hideButton.textContent = hide ? 'Show completed plans' : 'Hide completed plans';

            rows.forEach(row => {
                const statusCell = row.cells[8];
                const statusSelect = statusCell.querySelector('select');
                if (statusSelect.value === 'I') {
                    row.style.display = hide ? 'none' : '';
                }
            });
        }

        function lazyLoadRows(tbody, values, role) {
            const lazyLoadThreshold = 300;  // Number of rows to load in each batch
            let startIndex = tbody.rows.length;

            function loadMoreRows() {
                const fragment = document.createDocumentFragment();

                for (let i = startIndex; i < Math.min(values.length, startIndex + lazyLoadThreshold); i++) {
                    const row = createTableRow(values[i], role, [15, 7, 8, 6, 10, 2, 6, 3, 7]);
                    fragment.appendChild(row);
                }

                tbody.appendChild(fragment);
                startIndex += lazyLoadThreshold;

                if (startIndex >= values.length) {
                    tableContainer.removeEventListener('scroll', onScroll);
                }
            }

            function onScroll() {
                const scrollTop = tableContainer.scrollTop;
                const scrollHeight = tableContainer.scrollHeight;
                const clientHeight = tableContainer.clientHeight;

                if (scrollTop + clientHeight >= scrollHeight - 50) {
                    loadMoreRows();
                }
            }

            const tableContainer = document.getElementById('table-container');
            tableContainer.addEventListener('scroll', onScroll);

            loadMoreRows();  // Load initial batch
        }
    </script>
</body>
</html>