<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realizacija bruto/neto Graf</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="../../static/style/navigation.css">
    <link rel="stylesheet" href="../../static/style/potrosnja_materiala_grafi.css">
</head>
<body>
    <!-- Main content -->
    <div class="content">
        <h1>Realizacija bruto/neto za periodo</h1>
        <br>
        <form id="date_form">
            <label for="from_date">Od:</label>
            <input type="date" id="from_date" name="from_date" value="2024-01-01">
            <label for="to_date">Do:</label>
            <input type="date" id="to_date" name="to_date" value="2024-12-31">
            <button type="button" onclick="fetchData()">Prikaži</button>
        </form>
        <canvas id="myChart"></canvas>

        <!-- Table to display DataFrame -->
        <h2>Tabela uporabljenih podatkov</h2>
        <br>
        <div id="dataFrameTable"></div>
    </div>

<script>
var labels;

    // Get today's date
    var today = new Date();

    // Check if today is Monday (0 index for Sunday, 1 for Monday, and so on)
    if (today.getDay() === 1) { // If today is Monday
        today.setDate(today.getDate() - 3); // Set to previous Friday
    } else {
        today.setDate(today.getDate() - 1); // Set to yesterday
    }

    // Format the date as 'YYYY-MM-DD' for input[type=date]
    var yyyy = today.getFullYear();
    var mm = String(today.getMonth() + 1).padStart(2, '0');
    var dd = String(today.getDate()).padStart(2, '0');
    var formattedDate = yyyy + '-' + mm + '-' + dd;

    // Set the 'from_date' and 'to_date' input values to the calculated date
    document.getElementById('from_date').value = formattedDate;
    document.getElementById('to_date').value = formattedDate;

    fetchData(); // Fetch data when the page loads initially

    var myChart; // Declare the chart variable globally

    function fetchData() {
        var from_date = document.getElementById('from_date').value;
        var to_date = document.getElementById('to_date').value;
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/potrošnja_materiala_grafi?from_date=' + from_date + '&to_date=' + to_date);
        xhr.onload = function() {
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);
                displayChart(response);
                displayDataFrame(response.df); // Pass the DataFrame JSON to displayDataFrame function
            } else {
                console.error('Request failed. Status: ' + xhr.status);
            }
        };
        xhr.send();
    }
	var labels;
    function displayChart(response) {
        var data = response.data;
        labels = data.map(function(row) {
            return row.JobCode;
        });

        var postotakData = data.map(function(row, index) {
            var color = row.Postotak > 100 ? 'rgb(255,165,0, 0.8)': row.Postotak < 50 ? 'rgba(213,20,20, 0.4)': row.Postotak >= 50 && row.Postotak <=70 ? 'rgb(255,255,0, 0.8)' : (index % 2 === 0 ? 'rgba(0,255,0,0.4)' : 'rgba(0,255,0,0.2)');
            var borderColor = row.Postotak > 100 ? 'rgb(0,0,0)': row.Postotak < 50 ? 'rgba(0,0,0)' : row.Postotak >= 50 && row.Postotak <=70 ? 'rgb(255,255,0)' : (index % 2 === 0 ? 'rgb(0,255,0)' : 'rgb(0,255,0)');

            return {
                value: row.Postotak,
                color: color,
                borderColor: borderColor
            };
        });

        // Destroy the existing chart instance if it exists
        if (myChart) {
            myChart.destroy();
        }

        var ctx = document.getElementById('myChart').getContext('2d');
        myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Postotak',
                    data: postotakData.map(function(item) {
                        return item.value;
                    }),
                    backgroundColor: postotakData.map(function(item) {
                        return item.color;
                    }),
                    borderColor: postotakData.map(function(item) {
                        return item.borderColor;
                    }),
                    borderWidth: 1,
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        max: 105,
                        ticks: {
                            stepSize: 10,
                            callback: function(value) {
                                return value + '%';
                            }
                        }
                    }
                },
                plugins: {
                    tooltip: {
                        titleFont: { // Set the font size for the tooltip header
                            size: 18 // Adjust the font size as needed
                        },
                         bodyFont: { // Set the font size for the tooltip
                            size: 18 // Adjust the font size as needed
                        },
                        callbacks: {
                            label: function(context) {
                                var label = context.dataset.label || '';
                                if (label) {
                                    label += ': ';
                                }
                                if (context.parsed.y !== null) {
                                    label += context.parsed.y + '%';
                                }
                                if (context.dataset.label === 'Postotak') {
                                    var dataPoint = data[context.dataIndex];
                                    label += '\nBruto: ' + dataPoint.Bruto;
                                }
                                return label;
                            }
                        }
                    }
                }
            }
        });
    }


    function displayDataFrame(data) {
        // Parse JSON data
        var jsonData = JSON.parse(data);

        // Create table headers
        var tableHtml = '<table border="1">';
        tableHtml += '<tr>';
        for (var key in jsonData[0]) {
            tableHtml += '<th>' + key + '</th>';
        }
        tableHtml += '</tr>';

        // Add table rows
        jsonData.forEach(function(item) {
            tableHtml += '<tr>';
            for (var key in item) {
                tableHtml += '<td>' + item[key] + '</td>';
            }
            tableHtml += '</tr>';
        });

        // Close table
        tableHtml += '</table>';

        // Display the table in the designated div
        document.getElementById('dataFrameTable').innerHTML = tableHtml;
    }
    document.getElementById('myChart').addEventListener('click', function(event) {
        // Get the chart instance
        var chartInstance = myChart; // Assuming myChart is your Chart.js instance

        // Get the active points from the event
        var activePoints = chartInstance.getElementsAtEventForMode(event, 'nearest', { intersect: true }, false);

        // If there are active points
        if (activePoints.length > 0) {
            // Get the index of the clicked column
            var dataIndex = activePoints[0].index;

            // Get the 'JobCode' associated with the clicked column
            var clickedJobCode = labels[dataIndex];

            console.log(clickedJobCode); // Log the clicked 'JobCode'
              fetch('/get_pdf', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ label: clickedJobCode })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.pdfBase64) {
                        // Open the PDF in a new tab
                        window.open('data:application/pdf;base64,' + data.pdfBase64, '_blank');
                    } else {
                        console.error('PDF not found for the clicked label:', clickedJobCode);
                    }
                })
                .catch(error => {
                    console.error('Error fetching PDF:', error);
                });


            // Rest of your code...
        }
    });
</script>
</body>
</html>
