<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realizacija bruto/neto Graf</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="../../static/style/navigation.css">
    <link rel="stylesheet" href="../../static/style/potrosnja_materiala_grafi.css">
</head>
<body>
    <!-- Main content -->
    <div class="content">
        <h1>Realizacija bruto/neto za period</h1>
        <form id="date_form">
            <label for="from_date">From:</label>
            <input type="date" id="from_date" name="from_date" value="2024-01-01">
            <label for="to_date">To:</label>
            <input type="date" id="to_date" name="to_date" value="2024-12-31">
            <button type="button" onclick="fetchData()">Select Dates</button>
        </form>
        <canvas id="myChart"></canvas>

        <!-- Table to display DataFrame -->
        <h2>Data Frame</h2>
        <div id="dataFrameTable"></div>
    </div>

<script>
    // Get today's date
    var today = new Date();

    // Check if today is Monday (0 index for Sunday, 1 for Monday, and so on)
    if (today.getDay() === 1) { // If today is Monday
        today.setDate(today.getDate() - 3); // Set to previous Friday
    } else {
        today.setDate(today.getDate() - 1); // Set to yesterday
    }

    // Format the date as 'YYYY-MM-DD' for input[type=date]
    var yyyy = today.getFullYear();
    var mm = String(today.getMonth() + 1).padStart(2, '0');
    var dd = String(today.getDate()).padStart(2, '0');
    var formattedDate = yyyy + '-' + mm + '-' + dd;

    // Set the 'from_date' and 'to_date' input values to the calculated date
    document.getElementById('from_date').value = formattedDate;
    document.getElementById('to_date').value = formattedDate;

    fetchData(); // Fetch data when the page loads initially

    var myChart; // Declare the chart variable globally

    function fetchData() {
        var from_date = document.getElementById('from_date').value;
        var to_date = document.getElementById('to_date').value;
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/potrošnja_materiala_grafi?from_date=' + from_date + '&to_date=' + to_date);
        xhr.onload = function() {
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);
                displayChart(response);
                displayDataFrame(response.df); // Pass the DataFrame JSON to displayDataFrame function
            } else {
                console.error('Request failed. Status: ' + xhr.status);
            }
        };
        xhr.send();
    }

    function displayChart(response) {
    var data = response.data;
    var labels = data.map(function(row) {
        return row.JobCode;
    });
    var postotakData = data.map(function(row, index) {
        var color = row.Postotak > 100 ? 'rgb(255,165,0, 0.8)': row.Postotak < 50 ? 'rgba(213,20,20, 0.4)': row.Postotak >= 50 && row.Postotak <=70 ? 'rgb(255,255,0, 0.8)' : (index % 2 === 0 ? 'rgba(0,255,0,0.4)' : 'rgba(0,255,0,0.2)');
        var borderColor = row.Postotak > 100 ? 'rgb(0,0,0)': row.Postotak < 50 ? 'rgba(0,0,0)' : row.Postotak >= 50 && row.Postotak <=70 ? 'rgb(255,255,0)' : (index % 2 === 0 ? 'rgb(0,255,0)' : 'rgb(0,255,0)');

        return {
            value: row.Postotak,
            color: color,
            borderColor: borderColor
        };
    });

    // Destroy the existing chart instance if it exists
    if (myChart) {
        myChart.destroy();
    }

    var ctx = document.getElementById('myChart').getContext('2d');
    myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Postotak',
                data: postotakData.map(function(item) {
                    return item.value;
                }),
                backgroundColor: postotakData.map(function(item) {
                    return item.color;
                }),
                borderColor: postotakData.map(function(item) {
                    return item.borderColor;
                }),
                borderWidth: 1,
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    max: 105,
                    ticks: {
                        stepSize: 10,
                        callback: function(value) {
                            return value + '%';
                        }
                    }
                }
            },
            plugins: {
                tooltip: {
                    callbacks: {
                        label: function(context) {
                            var label = context.dataset.label || '';
                            if (label) {
                                label += ': ';
                            }
                            if (context.parsed.y !== null) {
                                label += context.parsed.y + '%';
                            }
                            if (context.dataset.label === 'Postotak') {
                                var dataPoint = data[context.dataIndex];
                                label += '\nBruto: ' + dataPoint.Bruto;
                            }
                            return label;
                        }
                    }
                }
            }
        }
    });
}


    function displayDataFrame(data) {
        // Parse JSON data
        var jsonData = JSON.parse(data);

        // Create table headers
        var tableHtml = '<table border="1">';
        tableHtml += '<tr>';
        for (var key in jsonData[0]) {
            tableHtml += '<th>' + key + '</th>';
        }
        tableHtml += '</tr>';

        // Add table rows
        jsonData.forEach(function(item) {
            tableHtml += '<tr>';
            for (var key in item) {
                tableHtml += '<td>' + item[key] + '</td>';
            }
            tableHtml += '</tr>';
        });

        // Close table
        tableHtml += '</table>';

        // Display the table in the designated div
        document.getElementById('dataFrameTable').innerHTML = tableHtml;
    }

</script>
</body>
</html>
