<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realizacija bruto/neto Torta</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="../../static/style/navigation.css">
    <style>
        /* Adjust chart container size */
        canvas {
            width: 100%;
            max-height: 680px;
            margin: 0 auto; /* Center the container */
            height: auto; /* Maintain canvas aspect ratio */
        }

        /* Style for the data table */
        #data_table {
            width: 100%;
            border-collapse: collapse;
        }

        /* Style for table header */
        #data_table th {
            background-color: #bdbdbd;
            padding: 8px;
            text-align: center;
            border-bottom: 3px solid #000000;
        }

        /* Style for table rows */
        #data_table td {
            padding: 5px;
            border-bottom: 1px solid #000000;
        }

        /* Hover effect */
        #data_table tr:hover {
            background-color: #ddd;
        }

    </style>
</head>
<body>
    <!-- Main content -->
    <div class="content">
        <h1>Realizacija bruto/neto za period</h1>
        <form id="date_form">
            <label for="from_date">From:</label>
            <input type="date" id="from_date" name="from_date" value="2024-01-01">
            <label for="to_date">To:</label>
            <input type="date" id="to_date" name="to_date" value="2024-12-31">
            <button type="button" onclick="fetchData()">Select Dates</button>
        </form>



        <canvas id="myChart"></canvas>
        <div id="data_table"></div>
        <hr>
        <form id="month_form">
            <label for="from_month">Select From Month:</label>
            <input type="month" id="from_month" name="from_month">
            <label for="to_month">Select From Month:</label>
            <input type="month" id="to_month" name="to_month">
            <button type="button" onclick="fetchMonthlyData()">Select Month</button>
        </form>
        <div>
            <canvas id="monthlyChart"></canvas>
        </div>
    </div>

<script>
    // Get today's date
    var weekAgo = new Date();
    weekAgo.setDate(weekAgo.getDate() - 8); // Set to week ago
    var yesterday = new Date();
    yesterday.setDate(yesterday.getDate() - 1); // Set to yesterday
    // Format yesterday's date as 'YYYY-MM-DD' for input[type=date]

    var yyyy = weekAgo.getFullYear();
    var mm = String(weekAgo.getMonth() + 1).padStart(2, '0');
    var dd = String(weekAgo.getDate()).padStart(2, '0');
    var weekAgoFormatted = yyyy + '-' + mm + '-' + dd;

    var yyyy1 = yesterday.getFullYear();
    var mm1 = String(yesterday.getMonth() + 1).padStart(2, '0');
    var dd1 = String(yesterday.getDate()).padStart(2, '0');
    var yesterdayFormatted = yyyy1 + '-' + mm1 + '-' + dd1;

    // Set the 'from_date' and 'to_date' input values to yesterday's date
    document.getElementById('from_date').value = weekAgoFormatted;
    document.getElementById('to_date').value = yesterdayFormatted;

    function setDefaultMonths() {
        const now = new Date();
        const year = now.getFullYear();
        const month = (now.getMonth() + 1).toString().padStart(2, '0'); // Adding 1 since getMonth() returns 0-11

        const fromMonth = `${year}-01`;
        const toMonth = `${year}-${month}`;

        document.getElementById('from_month').value = fromMonth;
        document.getElementById('to_month').value = toMonth;
    }

    window.onload = setDefaultMonths;
    fetchData(); // Fetch data when the page loads initially

    var myChart; // Declare the chart variable globally

    function fetchData() {
        var from_date = document.getElementById('from_date').value;
        var to_date = document.getElementById('to_date').value;
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/potrošnja_materiala_grafi?from_date=' + from_date + '&to_date=' + to_date);
        xhr.onload = function() {
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);
                displayPieChart(response);
            } else {
                console.error('Request failed. Status: ' + xhr.status);
            }
        };
        xhr.send();
    }

    function displayPieChart(response) {
        var data = response.data;
        var groupedData = groupData(data);
        console.log("Grouped data PIE: ", groupedData);
        displayDataTable(tableData); // Call the function here
        var labels = Object.keys(groupedData);
        var values = Object.values(groupedData);
        var colors = ['red', 'yellow', 'green'];

        // Destroy the existing chart instance if it exists
        if (myChart) {
            myChart.destroy();
        }

        var ctx = document.getElementById('myChart').getContext('2d');
        myChart = new Chart(ctx, {
            type: 'pie', // Change the chart type to pie
            data: {
                labels: labels,
                datasets: [{
                    label: 'Bruto/Num',
                    data: values, // Use the values as they represent the sums
                    backgroundColor: colors, // Set colors
                    borderWidth: 1
                }]
            }
        });
    }

    var count = 0;
    var tableData = {
        '0-49': { count: 0, sum: 0, percentage: 0, color: 'red'},
        '50-70': { count: 0, sum: 0, percentage: 0, color: 'yellow'},
        '71-': { count: 0, sum: 0, percentage: 0, color: 'green'}
    };


    function groupData(data) {
        var groupedData = {
            '0-49': { count: 0, sum: 0},
            '50-70': { count: 0, sum: 0},
            '71-': { count: 0, sum: 0}
        };
        count = 0;
        tableData = {
            '0-49': { count: 0, sum: 0, percentage: 0, color: 'red'},
            '50-70': { count: 0, sum: 0, percentage: 0, color: 'yellow'},
            '71-': { count: 0, sum: 0, percentage: 0, color: 'green'}
        };

        data.forEach(function(row) {
            if (row.Postotak >= 0 && row.Postotak < 50) {
                count += row.Bruto;
                groupedData['0-49'].count++;
                groupedData['0-49'].sum += row.Bruto;
            } else if (row.Postotak >= 50 && row.Postotak < 70) {
                count += row.Bruto;
                groupedData['50-70'].count++;
                groupedData['50-70'].sum += row.Bruto;
            } else if (row.Postotak >= 71) {
                count += row.Bruto;
                groupedData['71-'].count++;
                groupedData['71-'].sum += row.Bruto;
            }
        });

        // Calculate averages
        for (var key in groupedData) {
            if (groupedData.hasOwnProperty(key)) {
                if (groupedData[key].count !== 0) {
                    tableData[key].count = groupedData[key].count;
                    tableData[key].sum = groupedData[key].sum ;
                    tableData[key].percentage = ((groupedData[key].sum / count) * 100).toFixed(2);
                    groupedData[key] = groupedData[key].sum;
                }
            }
        }

        return groupedData;
    }


    function displayDataTable(tableData) {
        var table = "<table><tr><th>Group</th><th>Average</th></tr>";
        for (var key in tableData) {
            if (tableData.hasOwnProperty(key)) {
                table += "<tr style='background-color: " + tableData[key].color + "'><td>" + key + "</td><td>" + tableData[key].percentage + "%</td></tr>";
            }
        }
        table += "</table>";

        // Display the table in a designated HTML element
        document.getElementById('data_table').innerHTML = table;
    }



    function fetchMonthlyData() {
            var from_selectedMonth = document.getElementById('from_month').value;
            var from_year = from_selectedMonth.split('-')[0];
            var from_month = from_selectedMonth.split('-')[1];
            var to_selectedMonth = document.getElementById('to_month').value;
            var to_year = to_selectedMonth.split('-')[0];
            var to_month = to_selectedMonth.split('-')[1];
            var from_firstDayOfMonth = new Date(from_year, from_month - 1, 1);
            var to_lastDayOfMonth = new Date(to_year, to_month, 0);
            var from_date = from_firstDayOfMonth.toISOString().split('T')[0];
            var to_date = to_lastDayOfMonth.toISOString().split('T')[0];
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/potrošnja_materiala_grafi?from_date=' + from_date + '&to_date=' + to_date);
            xhr.onload = function() {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    //displayChart(response);
                    console.log("Response: ", response);
                } else {
                    console.error('Request failed. Status: ' + xhr.status);
                }
            };
            xhr.send();
        }

    // function displayChart(response) {
    //
    //     // Render graph data
    //     const graphData = response.graph_data;
    //     const colors = response.colors;
    //     const labels = response.labels;
    //
    //     // Prepare data for Chart.js
    //     const datasets = [];
    //     const places = Object.keys(colors);
    //
    //     places.forEach(place => {
    //         const placeData = labels.map(label => graphData[label][place] || null);
    //         datasets.push({
    //             label: place,
    //             data: placeData,
    //             backgroundColor: colors[place],
    //             borderColor: 'rgba(75, 192, 192, 1)',
    //             borderWidth: 1
    //         });
    //     });
    //
    //     // Create chart using Chart.js
    //     const ctx = document.getElementById('myChart').getContext('2d');
    //     myChart = new Chart(ctx, {
    //         type: 'bar',
    //         data: {
    //             labels: labels,
    //             datasets: datasets
    //         },
    //         options: {
    //             scales: {
    //                 y: {
    //                     beginAtZero: true
    //                 }
    //             }
    //         }
    //     });
    // }
</script>
</body>
</html>
