<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realizacija bruto/neto Torta</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="../../static/style/navigation.css">
    <link rel="stylesheet" href="../../static/style/potrosnja_materiala_torta.css">
</head>
<body>
    <!-- Main content -->
    <div class="content">
        <h1>Realizacija bruto/neto za periodo</h1>
        <br>
        <form id="date_form">
            <label for="from_date">Od:</label>
            <input type="date" id="from_date" name="from_date" value="2024-01-01">
            <label for="to_date">Do:</label>
            <input type="date" id="to_date" name="to_date" value="2024-12-31">
            <button type="button" onclick="fetchData()">Prikaži</button>
        </form>

        <canvas id="myChart" class="graph-canvas"></canvas>
        <div id="data_table"></div>
        <hr>
        <form id="month_form">
            <label for="from_month">Od: </label>
            <input type="month" id="from_month" name="from_month">
            <label for="to_month">Do: </label>
            <input type="month" id="to_month" name="to_month">
            <button type="button" onclick="fetchMonthlyData()">Prikaži</button>
        </form>
        <canvas id="monthlyChart" class="graph-canvas"></canvas>
    </div>

<script>
    // Get today's date
	var monthlyChart;
    var weekAgo = new Date();
    weekAgo.setDate(weekAgo.getDate() - 8); // Set to week ago
    var yesterday = new Date();
    yesterday.setDate(yesterday.getDate() - 1); // Set to yesterday
    // Format yesterday's date as 'YYYY-MM-DD' for input[type=date]

    var yyyy = weekAgo.getFullYear();
    var mm = String(weekAgo.getMonth() + 1).padStart(2, '0');
    var dd = String(weekAgo.getDate()).padStart(2, '0');
    var weekAgoFormatted = yyyy + '-' + mm + '-' + dd;

    var yyyy1 = yesterday.getFullYear();
    var mm1 = String(yesterday.getMonth() + 1).padStart(2, '0');
    var dd1 = String(yesterday.getDate()).padStart(2, '0');
    var yesterdayFormatted = yyyy1 + '-' + mm1 + '-' + dd1;

    // Set the 'from_date' and 'to_date' input values to yesterday's date
    document.getElementById('from_date').value = weekAgoFormatted;
    document.getElementById('to_date').value = yesterdayFormatted;

    function setDefaultMonths() {
        const now = new Date();
        const year = now.getFullYear();
        const month = (now.getMonth() + 1).toString().padStart(2, '0'); // Adding 1 since getMonth() returns 0-11

        const fromMonth = `${year}-01`;
        const toMonth = `${year}-${month}`;

        document.getElementById('from_month').value = fromMonth;
        document.getElementById('to_month').value = toMonth;
        fetchMonthlyData();
    }

    window.onload = setDefaultMonths;
    fetchData(); // Fetch data when the page loads initially
    var myChart; // Declare the chart variable globally
    var specificChart;

    function fetchData() {
        var from_date = document.getElementById('from_date').value;
        var to_date = document.getElementById('to_date').value;
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/potrošnja_materiala_grafi?from_date=' + from_date + '&to_date=' + to_date);
        xhr.onload = function() {
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);
                displayPieChart(response);
            } else {
                console.error('Request failed. Status: ' + xhr.status);
            }
        };
        xhr.send();
    }

    function displayPieChart(response) {
        var data = response.data;
        var groupedData = groupData(data);
        displayDataTable(tableData); // Call the function here
        var labels = Object.keys(groupedData);
        var values = Object.values(groupedData);
        var colors = ['red', 'yellow', 'green'];

        // Destroy the existing chart instance if it exists
        if (myChart || specificChart) {
            myChart.destroy();
            specificChart.destroy();
        }

        var ctx = document.getElementById('myChart').getContext('2d');
        myChart = new Chart(ctx, {
            type: 'pie', // Change the chart type to pie
            data: {
                labels: labels,
                datasets: [{
                    label: 'Bruto/Num',
                    data: values, // Use the values as they represent the sums
                    backgroundColor: colors, // Set colors
                    borderWidth: 1
                }]
            },
            options: {
                plugins: {
                    tooltip: {
                        titleFont: { // Set the font size for the tooltip header
                            size: 18 // Adjust the font size as needed
                        },
                        bodyFont: { // Set the font size for the tooltip
                            size: 18 // Adjust the font size as needed
                        }
                    }
                }
            }
        });
    }

    var count = 0;
    var tableData = {
        '0-49': { count: 0, sum: 0, percentage: 0, color: 'red'},
        '50-70': { count: 0, sum: 0, percentage: 0, color: 'yellow'},
        '71-': { count: 0, sum: 0, percentage: 0, color: 'green'}
    };


    function groupData(data) {
        var groupedData = {
            '0-49': { count: 0, sum: 0},
            '50-70': { count: 0, sum: 0},
            '71-': { count: 0, sum: 0}
        };
        count = 0;
        tableData = {
            '0-49': { count: 0, sum: 0, percentage: 0, color: 'red'},
            '50-70': { count: 0, sum: 0, percentage: 0, color: 'yellow'},
            '71-': { count: 0, sum: 0, percentage: 0, color: 'green'}
        };

        data.forEach(function(row) {
            if (row.Postotak >= 0 && row.Postotak < 50) {
                count += row.Bruto;
                groupedData['0-49'].count++;
                groupedData['0-49'].sum += row.Bruto;
            } else if (row.Postotak >= 50 && row.Postotak < 70) {
                count += row.Bruto;
                groupedData['50-70'].count++;
                groupedData['50-70'].sum += row.Bruto;
            } else if (row.Postotak >= 71) {
                count += row.Bruto;
                groupedData['71-'].count++;
                groupedData['71-'].sum += row.Bruto;
            }
        });

        // Calculate averages
        for (var key in groupedData) {
            if (groupedData.hasOwnProperty(key)) {
                if (groupedData[key].count !== 0) {
                    tableData[key].count = groupedData[key].count;
                    tableData[key].sum = groupedData[key].sum ;
                    tableData[key].percentage = ((groupedData[key].sum / count) * 100).toFixed(2);
                    groupedData[key] = groupedData[key].sum;
                }
            }
        }

        return groupedData;
    }


    function displayDataTable(tableData) {
        var table = "<table><tr><th>Group</th><th>Average</th></tr>";
        for (var key in tableData) {
            if (tableData.hasOwnProperty(key)) {
                table += "<tr style='background-color: " + tableData[key].color + "'><td>" + key + "</td><td>" + tableData[key].percentage + "%</td></tr>";
            }
        }
        table += "</table>";

        // Display the table in a designated HTML element
        document.getElementById('data_table').innerHTML = table;
    }



    function fetchMonthlyData() {
        var from_selectedMonth = document.getElementById('from_month').value;
        var from_year = from_selectedMonth.split('-')[0];
        var from_month = from_selectedMonth.split('-')[1];
        var to_selectedMonth = document.getElementById('to_month').value;
        var to_year = to_selectedMonth.split('-')[0];
        var to_month = to_selectedMonth.split('-')[1];
        var from_firstDayOfMonth = new Date(from_year, from_month - 1, 2);
        var to_lastDayOfMonth = new Date(to_year, to_month, 1);
        var from_date = from_firstDayOfMonth.toISOString().split('T')[0];
        var to_date = to_lastDayOfMonth.toISOString().split('T')[0];
        console.log('From date:', from_date)
        console.log('To date:', to_date)
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/potrosnja_materiala_mj?from_date=' + from_date + '&to_date=' + to_date);
        xhr.onload = function() {
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);
                displayChart(response);
                console.log("Response: ", response);
            } else {
                console.error('Request failed. Status: ' + xhr.status);
            }
        };
        xhr.send();
    }

	var categories;

    function displayChart(response) {
        const graphData = response.data;
        const labels = [...new Set(graphData.map(item => item.YearMonth))];
        categories = [...new Set(graphData.map(item => item.kate))];

        const dataMap = {};
		if (monthlyChart) {
            monthlyChart.destroy();
        }
        graphData.forEach(item => {
            if (!dataMap[item.YearMonth]) {
                dataMap[item.YearMonth] = {};
            }
            dataMap[item.YearMonth][item.kate] = item.AveragePostotak;
        });

        const datasets = categories.map(category => {
            const data = labels.map(label => dataMap[label][category] || 0);
            const backgroundColors = labels.map((label, index) => {
                if (category === '0-49') {
                    return 'rgba(255, 0, 0, 0.2)'; // red
                } else if (category === '50-70') {
                    return 'rgba(255, 255, 0, 0.2)'; // yellow
                } else if (category === '>71') {
                    return 'rgba(0, 255, 0, 0.2)'; // green
                } else {
                    return 'rgba(0, 0, 0, 0.2)'; // default color for other categories
                }
            });
            const borderColors = labels.map((label, index) => {
                const value = data[index];
                if (category === 'Postotak') {
                    if (value >= 71) {
                        return 'rgba(0, 255, 0, 1)'; // green
                    } else if (value >= 50) {
                        return 'rgba(255, 255, 0, 1)'; // yellow
                    } else {
                        return 'rgba(255, 0, 0, 1)'; // red
                    }
                } else {
                    return 'rgba(0, 0, 0, 1)'; // default color for other categories
                }
            });
            return {
                label: category,
                data: data,
                backgroundColor: backgroundColors,
                borderColor: borderColors,
                borderWidth: 1
            };
        });

        const ctx = document.getElementById('monthlyChart').getContext('2d');
        monthlyChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: datasets
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    tooltip: {
                        titleFont: { // Set the font size for the tooltip header
                            size: 18 // Adjust the font size as needed
                        },
                         bodyFont: { // Set the font size for the tooltip
                            size: 18 // Adjust the font size as needed
                        },
                        callbacks: {
                            label: function(context) {
                                var label = context.dataset.label || '';
                                if (label) {
                                    label += ': ';
                                }
                                if (context.parsed.y !== null) {
                                    label += context.parsed.y + '%';
                                }
                                if (context.dataset.label === 'Postotak') {
                                    var dataPoint = data[context.dataIndex];
                                    label += '\nBruto: ' + dataPoint.Bruto;
                                }
                                return label;
                            }
                        }
                    }
                }
            }
        });
    }

    function parseClickedPercentage(clickedPercentage) {
        if (clickedPercentage.includes('-')) {
            // Handle range case (e.g., "0-49")
            const [start, end] = clickedPercentage.split('-').map(Number);
            return function(x) {
                return start <= x && x <= end;
            };
        } else if (clickedPercentage.includes('>')) {
            // Handle "greater than" case (e.g., ">70")
            const number = Number(clickedPercentage.split('>')[1]);
            return function(x) {
                return x > number;
            };
        } else if (clickedPercentage.includes('<')) {
            // Handle "less than" case (e.g., "<50")
            const number = Number(clickedPercentage.split('<')[1]);
            return function(x) {
                return x < number;
            };
        } else {
            throw new Error("Input string format not recognized. Expected 'start-end', '>number', or '<number'.");
        }
    }

    function comparePostotak(rowPostotak, clickedPercentage) {
        // Parse the clickedPercentage to get a comparison function
        const comparisonFn = parseClickedPercentage(clickedPercentage);
        // Compare rowPostotak using the comparison function
        return comparisonFn(rowPostotak);
    }

    var labels;
    function displaySpecificsChart(response, clickedPercentage) {
        var data = response.data;
        data = data.filter(function(row) {
            if(comparePostotak(row.Postotak, clickedPercentage))
                return row;
        });
        console.log('Data:', data)
        labels = data.map(function(row) {
            return row.JobCode;
        });

        var postotakData = data.map(function(row, index) {
            var color = row.Postotak > 100 ? 'rgb(255,165,0, 0.8)': row.Postotak < 50 ? 'rgba(213,20,20, 0.4)': row.Postotak >= 50 && row.Postotak <=70 ? 'rgb(255,255,0, 0.8)' : (index % 2 === 0 ? 'rgba(0,255,0,0.4)' : 'rgba(0,255,0,0.2)');
            var borderColor = row.Postotak > 100 ? 'rgb(0,0,0)': row.Postotak < 50 ? 'rgba(0,0,0)' : row.Postotak >= 50 && row.Postotak <=70 ? 'rgb(255,255,0)' : (index % 2 === 0 ? 'rgb(0,255,0)' : 'rgb(0,255,0)');

            return {
                value: row.Postotak,
                color: color,
                borderColor: borderColor
            };
        });

        // Destroy the existing chart instance if it exists
        if (myChart) {
            myChart.destroy();
        }

        var ctx = document.getElementById('myChart').getContext('2d');
        specificChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Postotak',
                    data: postotakData.map(function(item) {
                        return item.value;
                    }),
                    backgroundColor: postotakData.map(function(item) {
                        return item.color;
                    }),
                    borderColor: postotakData.map(function(item) {
                        return item.borderColor;
                    }),
                    borderWidth: 1,
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        max: 105,
                        ticks: {
                            stepSize: 10,
                            callback: function(value) {
                                return value + '%';
                            }
                        }
                    }
                },
                plugins: {
                    tooltip: {
                        titleFont: { // Set the font size for the tooltip header
                            size: 18 // Adjust the font size as needed
                        },
                         bodyFont: { // Set the font size for the tooltip
                            size: 18 // Adjust the font size as needed
                        },
                        callbacks: {
                            label: function(context) {
                                var label = context.dataset.label || '';
                                if (label) {
                                    label += ': ';
                                }
                                if (context.parsed.y !== null) {
                                    label += context.parsed.y + '%';
                                }
                                if (context.dataset.label === 'Postotak') {
                                    var dataPoint = data[context.dataIndex];
                                    label += '\nBruto: ' + dataPoint.Bruto;
                                }
                                return label;
                            }
                        }
                    }
                }
            }
        });
    }

    document.getElementById('myChart').addEventListener('click', function(event) {
        // Get the chart instance
        var chartInstance = myChart; // Assuming myChart is your Chart.js instance
        var chartSpecificInstance = specificChart;

        if (chartInstance) {
            // Get the active points from the event
            try {
                var activePoints = chartInstance.getElementsAtEventForMode(event, 'nearest', {intersect: true}, false);
            } catch (error) {
                // Get the chart instance
                var chartInstance = chartSpecificInstance; // Assuming myChart is your Chart.js instance

                // Get the active points from the event
                var activePoints = chartInstance.getElementsAtEventForMode(event, 'nearest', {intersect: true}, false);

                // If there are active points
                if (activePoints.length > 0) {
                    // Get the index of the clicked column
                    var dataIndex = activePoints[0].index;

                    // Get the 'JobCode' associated with the clicked column
                    var clickedJobCode = labels[dataIndex];

                    console.log(clickedJobCode); // Log the clicked 'JobCode'
                    fetch('/get_pdf', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({label: clickedJobCode})
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.pdfBase64) {
                                // Open the PDF in a new tab
                                window.open('data:application/pdf;base64,' + data.pdfBase64, '_blank');
                            } else {
                                console.error('PDF not found for the clicked label:', clickedJobCode);
                            }
                        })
                        .catch(error => {
                            console.error('Error fetching PDF:', error);
                        });
                    // Rest of your code...
                }
            }

            // If there are active points
            if (activePoints.length > 0) {
                // Get the index of the clicked column
                var dataIndex = activePoints[0].index;

                // Get the 'JobCode' associated with the clicked column
                var clickedPercentage = categories[dataIndex];

                console.log(clickedPercentage); // Log the clicked 'JobCode'
                var from_date = document.getElementById('from_date').value;
                var to_date = document.getElementById('to_date').value;
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/potrošnja_materiala_grafi?from_date=' + from_date + '&to_date=' + to_date);
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        displaySpecificsChart(response, clickedPercentage);
                    } else {
                        console.error('Request failed. Status: ' + xhr.status);
                    }
                };
                xhr.send();
            }
        }else{
            console.log("DELA")
        }
    });
</script>
</body>
</html>
