<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prudoktivnost delavcev</title>
    <!-- Include Chart.js library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <link rel="stylesheet" href="../../static/style/navigation.css">
    <link rel="stylesheet" href="../../static/style/potrosnja_materiala_grafi.css">
    <style>
    #workerDF {
        display: flex;
        justify-content: space-between; /* To evenly distribute the sections */
    }

    .data-frame-section {
        width: 48%; /* Adjust the width as needed */
    }
    </style>

</head>
<body>
    <div class="content">
        <h1>Produktivnost delavcev za periodo</h1>
        <form class="date_form">
            <label for="from_date_graf">Od:</label>
            <input type="month" id="from_date_graf" name="from_date" value="2024-01-01">
            <label for="to_date_graf">Do:</label>
            <input type="month" id="to_date_graf" name="to_date" value="2024-12-31">
            <button type="button" onclick="fetchProduktivnostDataForGraf()">Prikaži</button>
        </form>
        <!-- Graph -->
        <div>
            <canvas id="oddelkiProduktivnostChart" class="graph-canvas"></canvas>
        </div>
    </div>
<script src="../../static/scrypt/produktivnost_delavcev.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Call your function to set default months once the DOM is fully loaded
        setDefaultMonthsGrafi();
        fetchProduktivnostDataForGraf();
    });
</script>
</body>
</html>
