<!-- Navigation bar -->
    <div class="navbar">
        <div class="header-logo">
            <img src="../../static/style/MEGA-METAL-logotip.jpg" alt="Logo">
        </div>
        <a href="{{ url_for('index') }}">Home</a>
        <div class="potrosnja-materiala">
            Potrošnja materiala &rarr;
            <!-- Inside Dropdown -->
            <div class="dropdown-potrosnja-materiala">
                <a href="{{ url_for('grupiranje_materiala') }}"><div class="ddPotrosnja">TODO</div></a>
            </div>
        </div>
        <a href="{{ url_for('logout') }}">Sign Out</a>
    </div>