/* Style for the confrim button */
#send-selected-time{
    text-align: center;
}
a[type="submit"] {
    width: 100px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
a[type="submit"]:hover {
    background-color: #45a049;
}