<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTP-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Tracker</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/confirmButton.css">
    <link rel="stylesheet" href="../static/dropdownIdNr.css">
    <link rel="stylesheet" href="../static/dropdownEvidencaUr.css">
    <link rel="stylesheet" href="../static/dropdownFaza.css">
    <link rel="stylesheet" href="../static/notification.css">
    <link rel="stylesheet" href="../static/navigationBar.css">
</head>
<body>
    <!-- Navigation bar -->
    <div class="navbar">
        <div class="header-logo">
            <img src="../static/images/LogoMM.png" alt="Logo">
        </div>
        <a href="{{ url_for('evidenca_ur') }}">Evidenca ur</a>
        <a href="{{ url_for('sign_out') }}">Odjava</a>
    </div>

    <!-- Main content -->
    <div class="content">
        <div>
            <h1>Welcome, {{ session["username"] }}!</h1>
            <h2>Vloga: {{ session["mjesto"] }}</h2>
        <h2>Izberite delovni nalog in število ur, ki ste jih porabili za delo:</h2>
        </div>
        <div></div>
        <div class="dropdownIdNr">
            <input type="text" id="Id_rn" oninput="filterDropdown('Id_rn', 'delovniNalogDropdown', 'dropdown-option-id-rn')" onclick="toggleDropdown('delovniNalogDropdown')" placeholder="Išči Delovni Nalog..." autocomplete="off" required>
            <div id="delovniNalogDropdown" class="dropdown-content">
                {% for idRadnogNaloga in radniNalogi %}
                    <a class="dropdown-option-id-rn" onclick="selectOption('{{ idRadnogNaloga.Id_rn }}', 'Id_rn', 'delovniNalogDropdown')">{{ idRadnogNaloga.Id_rn }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="dropdownEvidencaUr">
            <h3>Število ur:</h3>
            <h3>Število minut:</h3>
            <div class="dropdownUre">
                <select id="DUre">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
            </select>
            </div>
            <div class="dropdownUre">
                <select id="DMinute">
                  <option value="0">0</option>
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="30">30</option>
                  <option value="40">40</option>
                  <option value="50">50</option>
            </select>
            </div>
        </div>
        <div class="dropdownFaza">
            <input type="text" id="Faza" oninput="filterDropdown('Faza', 'fazaDropdown', 'faza-dropdown-option')" onclick="toggleDropdown('fazaDropdown')" placeholder="Išči Fazo ali Vnesi Ročno" autocomplete="off" required>
            <div id="fazaDropdown" class="dropdown-content-faza">
                {% for faz in faze %}
                    <a class="faza-dropdown-option" onclick="selectOption('{{ faz.Test }}', 'Faza', 'fazaDropdown')">{{ faz.Test }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="textboxOpomba">
                <input type="text" id="Opomba" placeholder="Vnesi opombo po potrebi" autocomplete="off">
        </div>
    </div>
    <div id="send-selected-time">
        <a id="send-selected-timee" type="submit" value="POTRDI">POTRDI</a>
    </div>
    <div id="notification-popup" class="notification-popup">
        <span id="notification-message" class="notification-message"></span>
    </div>
</body>


<script>
    function toggleDropdown(idOfElement) {
        var dropdown = document.getElementById(idOfElement);
        if(!dropdown.classList.contains("show")) {
            dropdown.classList.toggle("show");
            return;
        }else{
            dropdown.classList.remove("show");
        }
        filterDropdown(); // Reset filter when showing dropdown
    }

    function filterDropdown(filteredItem, idOfElement, classOfElement) {
        var input, filter, ul, divs, i, txtValue;
        input = document.getElementById(filteredItem);
        filter = input.value.toUpperCase();
        ul = document.getElementById(idOfElement);
        divs = ul.getElementsByClassName(classOfElement);

        for (i = 0; i < divs.length; i++) {
            txtValue = divs[i].textContent || divs[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                divs[i].style.display = "";
            } else {
                divs[i].style.display = "none";
            }
        }
    }

    function selectOption(selectedOption, textValue, dropdownId) {
        document.getElementById(textValue).value = selectedOption;
        toggleDropdown(dropdownId); // You may want to hide the dropdown after selecting an option
    }

    document.addEventListener('DOMContentLoaded', function() {
        // Add event listeners to all <a> elements within the dropdown
        var dropdownOptions = document.querySelectorAll('.dropdown-option-id-rn');
        dropdownOptions.forEach(function(option) {
            option.addEventListener('click', function() {
                // Get the selected option's text content
                var selectedOption = this.textContent;
                // Get the id of the input field where the value should be populated
                var inputId = this.parentElement.parentElement.querySelector('input').id;
                // Call selectOption function to populate the input field
                selectOption(selectedOption, inputId);
                // Toggle the dropdown
                toggleDropdown(this.parentElement.id);
            });
        });
    });

    window.onclick = function(event) {
        if (!event.target.matches('.dropdown-content') && !event.target.matches('.dropdown-content a') && !event.target.matches('#Id_rn')) {
            var dropdownsIdRn = document.getElementsByClassName("dropdown-content");
            for (var i = 0; i < dropdownsIdRn.length; i++) {
                var openDropdownIdRn = dropdownsIdRn[i];
                if (openDropdownIdRn.classList.contains('show')) {
                    openDropdownIdRn.classList.remove('show');
                }
            }
        }
        if (!event.target.matches('.dropdown-content-faza') && !event.target.matches('.dropdown-content-faza a') && !event.target.matches('#Faza')) {
            var dropdowns = document.getElementsByClassName("dropdown-content-faza");
            for (var i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }

    document.getElementById('send-selected-timee').addEventListener('click', function(event) {
        event.preventDefault(); // Prevent the default form submission behavior

        // Get the values from the DUre and DMinute elements
        var DelovniNalogValue = document.getElementById('Id_rn').value;
        var DUreValue = document.getElementById('DUre').value;
        var DMinuteValue = document.getElementById('DMinute').value;
        var Faza = document.getElementById('Faza').value;
        var Opomba = document.getElementById('Opomba').value;

        // Create a FormData object to send form data
        var formData = new FormData();
        formData.append('Id_rn', DelovniNalogValue);
        formData.append('DUre', DUreValue);
        formData.append('DMinute', DMinuteValue);
        formData.append('Faza', Faza);
        formData.append('Opomba', Opomba);

        // Send a POST request with form data to the server
        fetch('/submitEvidencaUr', {
            method: 'POST',
            body: formData
        })
        .then(response => {
            if (response.ok) {
                // Show the notification popup
                showNotification('Data inserted successfully!');

                // Reload the page after 2 seconds
                setTimeout(function() {
                    location.reload();
                }, 2000);
            } else {
                showNotification('ERROR: Data not inserted! At least Insert DN, Ure, Minute and Faza!');
            }
        })
        .catch(error => {
            console.error('There was a problem with the fetch operation:', error);
        });
    });

    function showNotification(message) {
        var notificationPopup = document.getElementById('notification-popup');
        var notificationMessage = document.getElementById('notification-message');

        // Set the notification message
        notificationMessage.textContent = message;

        // Show the notification popup
        notificationPopup.style.display = 'block';

        // Hide the notification popup after 2 seconds
        setTimeout(function() {
            notificationPopup.style.display = 'none';
        }, 3000);
    }



</script>
</html>
