<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        #todayDate, #username {
            color: rgba(157, 165, 171, 255);
            font-size: 1.5em;
            font-weight: bold;
        }
    </style>
</head>
<header>

</header>
<body>

    <!-- Include the navigation bar -->
    {% include 'navigation.html' %}

    <!-- Main content -->
    <div class="content">
        <h1>Pozdravljeni, <span id="username">{{ current_user.username }}!</span></h1>
        <hr>
        <h2>Danes je <span id="todayDate"></span></h2>
        <div class="content-image">
            <img src="../static/style/MEGA-METAL-background-logotip.jpg" alt="Forest Bridge">
        </div>
    </div>

    <script>
        // Get today's date
        var today = new Date();

        // Define the days of the week
        var daysOfWeek = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];

        // Get the day of the week (0 - Sunday, 1 - Monday, etc.)
        var dayOfWeekIndex = today.getDay();

        // Get the day, month, and year
        var day = today.getDate();
        var month = today.getMonth() + 1; // Months are zero-based (0 - January, 1 - February, etc.)
        var year = today.getFullYear();

        // Format the date as "DayOfWeek, Day. Month Year"
        var formattedDate = daysOfWeek[dayOfWeekIndex] + ', ' + day + '. ' + month + '. ' + year;

        // Set the formatted date into the HTML element
        document.getElementById('todayDate').textContent = formattedDate;
    </script>

</body>
</html>
