<head>
    <link rel="stylesheet" href="../../static/style/navigation.css">
</head>
<div class="navbar">
    <div class="header-logo">
        <img src="../../static/style/MEGA-METAL-logotip.jpg" alt="Logo">
    </div>
    <!-- Home link -->
    <a href="{{ url_for('index') }}">Home</a>

    {% if 'grafi' in stranice_list or 'po_identu' in stranice_list or 'torta' in stranice_list or 'oee' in stranice_list or 'potrosnja_materiala' in stranice_list %}
    <div class="dropdown">
        Potrošnja materiala &rarr;
        <!-- Inside Dropdown -->
        <div class="dropdown-dropdown">
            {% if 'grafi' in stranice_list or 'potrosnja_materiala' in stranice_list  %}
            <a href="{{ url_for('potrosnja_materiala') }}"><div class="ddDropdown">Grafi</div></a>
            {% endif %}
            {% if 'po_identu' in stranice_list or 'potrosnja_materiala' in stranice_list %}
            <a href="{{ url_for('grupiranje_materiala') }}"><div class="ddDropdown">Po identu</div></a>
            {% endif %}
            {% if 'torta' in stranice_list or 'potrosnja_materiala' in stranice_list %}
            <a href="{{ url_for('potrosnja_materiala_torta') }}"><div class="ddDropdown">Torta</div></a>
            {% endif %}
            {% if 'oee' in stranice_list or 'potrosnja_materiala' in stranice_list %}
            <a href="{{ url_for('potrosnja_materiala_OEE') }}"><div class="ddDropdown">OEE</div></a>
            {% endif %}
        </div>
    </div>
    {% endif %}

    <!-- Planiranje proizvodnje section -->
    {% if 'planiranje_proizvodnje' in stranice_list %}
    <div class="dropdown">
        Planiranje proizvodnje &rarr;
        <!-- Inside Dropdown -->
        <div class="dropdown-dropdown">
            <a href="{{ url_for('planiranjePripravnegaDela') }}"><div class="ddDropdown">Planiranje pripravnega dela</div></a>
            <a href="{{ url_for('planiranjePripravnegaDelaPravice') }}"><div class="ddDropdown">PPD P</div></a>
        </div>
    </div>
    {% endif %}

    {% if 'verzug_lista' in stranice_list or 'planiranje_proizvodnje' in stranice_list or 'torta' in stranice_list or 'oee' in stranice_list or 'potrosnja_materiala' in stranice_list %}
    <div class="dropdown">
        Proizvodnja &rarr;
        <!-- Inside Dropdown -->
        <div class="dropdown-dropdown">
            {% if 'planiranje_proizvodnje' in stranice_list %}
            <a href="{{ url_for('planiranjePripravnegaDela') }}"><div class="ddDropdown">Planiranje pripravnega dela</div></a>
            <a href="{{ url_for('planiranjePripravnegaDelaPravice') }}"><div class="ddDropdown">PPD P</div></a>
            {% endif %}
            {% if 'verzug_lista' in stranice_list %}
            <a href="{{ url_for('verzugsLista') }}"><div class="ddDropdown">Verzug lista</div></a>
            {% endif %}
            {% if 'verzug_lista' in stranice_list %}
            <a href="#"><div class="ddDropdown">Kapaciteta</div></a>
            {% endif %}
        </div>
    </div>
    {% endif %}

    <!-- Normativi link -->
    {% if 'normativi' in stranice_list %}
    <a href="#">Normativi</a>
    {% endif %}

    <!-- Kapaciteta link -->
    {% if 'uprava' in stranice_list %}
    <a href="{{ url_for('produktivnost_grafi') }}">Produktivnost</a>
    {% endif %}

    {% if 'evidenca_ur' in stranice_list %}
    <a href="{{ url_for('tev_evid') }}">Evidenca ur</a>
    {% endif %}

    <!-- Planiranje proizvodnje section -->
    {% if 'upravljanje_uporabnikov' in stranice_list or 'aktivni_nalogi' in stranice_list or 'neaktivni_nalogi' in stranice_list %}
    <a href="{{ url_for('administracija') }}">Administrativna dela &rarr;</a>
    {% endif %}

    {% if 'mm2Alat' in stranice_list %}
    <a href="{{ url_for('MM2Alat') }}">MM2 Alati</a>
    {% endif %}
    <!-- Add more sections based on user permissions -->
    {% if 'top_user' in stranice_list %}
    <a href="{{ url_for('action_plans') }}">Action Plan</a>
    <div class="dropdown">
        Potrošnja materiala &rarr;
        <!-- Inside Dropdown -->
        <div class="dropdown-dropdown">
            <a href="{{ url_for('potrosnja_materiala') }}"><div class="ddDropdown">Grafi</div></a>
            <a href="{{ url_for('grupiranje_materiala') }}"><div class="ddDropdown">Po identu</div></a>
            <a href="{{ url_for('potrosnja_materiala_torta') }}"><div class="ddDropdown">Torta</div></a>
        </div>
    </div>
    <div class="dropdown">
        Produktivnost &rarr;
        <!-- Inside Dropdown -->
        <div class="dropdown-dropdown">
            <a href="{{ url_for('produktivnost_delavcev_grafi') }}"><div class="ddDropdown">Delavcev</div></a>
            <a href="{{ url_for('potrosnja_materiala_OEE') }}"><div class="ddDropdown">OEE</div></a>
            <a href="{{ url_for('produktivnost_pozicije') }}"><div class="ddDropdown">Pozicije</div></a>
        </div>
    </div>
    <div class="dropdown">
        Proizvodnja &rarr;
        <!-- Inside Dropdown -->
        <div class="dropdown-dropdown">
            <a href="{{ url_for('planiranjePripravnegaDela') }}"><div class="ddDropdown">Planiranje proizvodnje</div></a>
            <a href="{{ url_for('planiranjePripravnegaDelaPravice') }}"><div class="ddDropdown">PPD P</div></a>
            <a href="{{ url_for('verzugsLista') }}"><div class="ddDropdown">Verzug lista</div></a>
            <a href="#"><div class="ddDropdown">Kapaciteta</div></a>
        </div>
    </div>
    <div class="dropdown">
        Ostalo &rarr;
        <!-- Inside Dropdown -->
        <div class="dropdown-dropdown">
            <a href="#"><div class="ddDropdown">Normativi</div></a>
            <a href="{{ url_for('izmene') }}"><div class="ddDropdown">Izmene</div></a>
            <a href="{{ url_for('tev_evid') }}"><div class="ddDropdown">Evidenca ur</div></a>
        </div>
    </div>

    <a href="{{ url_for('administracija') }}">Administrativna dela &rarr;</a>
    <a href="{{ url_for('MM2Alat') }}">MM2 Alati</a>

    <div class="dropdown">
        Fix Plan &rarr;
        <!-- Inside Dropdown -->
        <div class="dropdown-dropdown">
            <a href="{{ url_for('compare_data') }}"><div class="ddDropdown">Po tjednu</div></a>
            <a href="{{ url_for('compare_data_mj') }}"><div class="ddDropdown">Po Mjesecu</div></a>
        </div>
    </div>
    {% endif %}

    {% if 'fix_plan' in stranice_list %}
        <div class="dropdown">
            Fix Plan &rarr;
            <!-- Inside Dropdown -->
            <div class="dropdown-dropdown">
                <a href="{{ url_for('compare_data') }}"><div class="ddDropdown">Po tjednu</div></a>
                 <a href="{{ url_for('compare_data_mj')}}"><div class="ddDropdown">Po Mjesecu</div></a>
            </div>
        </div>
    {% endif %}

    <div class="logout-button">
        <a href="{{ url_for('logout') }}">Sign Out</a>
    </div>
    <!-- Logout link -->

</div>
