<head>
    <link rel="stylesheet" href="../../static/style/navigation.css">
</head>
<div class="navbar">
    <div class="header-logo">
        <img src="../../static/style/MEGA-METAL-logotip.jpg" alt="Logo">
    </div>
    <!-- Home link -->
    <a href="{{ url_for('index') }}">Home</a>

    {% if 'grafi' in stranice_list or 'po_identu' in stranice_list or 'torta' in stranice_list %}
    <div class="potrosnja-materiala">
        Potrošnja materiala &rarr;
        <!-- Inside Dropdown -->
        <div class="dropdown-potrosnja-materiala">
            {% if 'grafi' in stranice_list %}
            <a href="{{ url_for('potrosnja_materiala') }}"><div class="ddPotrosnja">Grafi</div></a>
            {% endif %}
            {% if 'po_identu' in stranice_list %}
            <a href="{{ url_for('grupiranje_materiala') }}"><div class="ddPotrosnja">Po identu</div></a>
            {% endif %}
            {% if 'torta' in stranice_list %}
            <a href="{{ url_for('potrosnja_materiala_torta') }}"><div class="ddPotrosnja">Torta</div></a>
            {% endif %}
        </div>
    </div>
    {% endif %}

    <!-- Planiranje proizvodnje section -->
    {% if 'planiranje_proizvodnje' in stranice_list %}
    <div class="planiranje-proizvodnje">
        Planiranje proizvodnje &rarr;
        <!-- Inside Dropdown -->
        <div class="dropdown-planiranje-proizvodnje">
            <a href="{{ url_for('planiranjePripravnegaDela') }}"><div class="dItem">Planiranje pripravnega dela</div></a>
            <a href="{{ url_for('planiranjePripravnegaDelaPravice') }}"><div class="dItem">PPD P</div></a>
        </div>
    </div>
    {% endif %}

    <!-- Normativi link -->
    {% if 'normativi' in stranice_list %}
    <a href="#">Normativi</a>
    {% endif %}

    <!-- Verzug lista link -->
    {% if 'verzug_lista' in stranice_list %}
    <a href="{{ url_for('verzugsLista') }}">Verzug lista</a>
    {% endif %}

    {% if 'evidenca_ur' in stranice_list %}
    <a href="{{ url_for('tev_evid') }}">Evidenca ur</a>
    {% endif %}

    <!-- Planiranje proizvodnje section -->
    {% if 'upravljanje_uporabnikov' in stranice_list or 'aktivni_nalogi' in stranice_list or 'neaktivni_nalogi' in stranice_list %}
    <a href="{{ url_for('administracija') }}">Administrativna dela &rarr;</a>
    {% endif %}

    {% if 'mm2Alat' in stranice_list %}
    <a href="{{ url_for('MM2Alat') }}">MM2 Alati</a>
    {% endif %}
    <!-- Add more sections based on user permissions -->
    {% if 'top_user' in stranice_list %}
        <div class="potrosnja-materiala">
        Potrošnja materiala &rarr;
        <!-- Inside Dropdown -->
        <div class="dropdown-potrosnja-materiala">
            <a href="{{ url_for('potrosnja_materiala') }}"><div class="ddPotrosnja">Grafi</div></a>
            <a href="{{ url_for('grupiranje_materiala') }}"><div class="ddPotrosnja">Po identu</div></a>
            <a href="{{ url_for('potrosnja_materiala_torta') }}"><div class="ddPotrosnja">Torta</div></a>
        </div>
    </div>
    <div class="planiranje-proizvodnje">
        Planiranje proizvodnje &rarr;
        <!-- Inside Dropdown -->
        <div class="dropdown-planiranje-proizvodnje">
            <a href="{{ url_for('planiranjePripravnegaDela') }}"><div class="dItem">Planiranje pripravnega dela</div></a>
            <a href="{{ url_for('planiranjePripravnegaDelaPravice') }}"><div class="dItem">PPD PRAVICE</div></a>
        </div>
    </div>
    <a href="#">Normativi</a>
    <a href="{{ url_for('verzugsLista') }}">Verzug lista</a>
    <a href="#">Kapaciteta</a>
    <a href="{{ url_for('izmene') }}">Izmene</a>
    <a href="{{ url_for('tev_evid') }}">Evidenca ur</a>

    <a href="{{ url_for('administracija') }}">Administrativna dela &rarr;</a>
    <a href="{{ url_for('MM2Alat') }}">MM2 Alati</a>
    <div class="fix-plan">
        Fix Plan &rarr;
        <!-- Inside Dropdown -->
        <div class="dropdown-fix-plan">
            <a href="{{ url_for('compare_data') }}"><div class="dItem">Po tjednu</div></a>
            <a href="{{ url_for('compare_data_mj') }}"><div class="dItem">Po Mjesecu</div></a>
        </div>
    </div>
    {% endif %}

    {% if 'fix_plan' in stranice_list %}
        <div class="fix-plan">
            Fix Plan &rarr;
            <!-- Inside Dropdown -->
            <div class="dropdown-fix-plan">
                <a href="{{ url_for('compare_data') }}"><div class="dItem">Po tjednu</div></a>
                 <a href="{{ url_for('compare_data_mj')}}"><div class="dItem">Po Mjesecu</div></a>
            </div>
        </div>
    {% endif %}

    <div class="logout-button">
        <a href="{{ url_for('logout') }}">Sign Out</a>
    </div>
    <!-- Logout link -->

</div>
