<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Title Here</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        /* Adjust the margin-left based on your navigation bar width */
        body {
            margin-left: 250px; /* Adjust this value as per your navigation bar width */
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <!-- Include the navigation bar using JavaScript -->
    {% include 'navigation.html' %}
    {% include '/General/plasmakalk.html' %}
</body>
</html>
